// Nextflow Configuration File
// File: nextflow.config

params {
    // Get the current working directory
    workDir = "${System.getProperty('user.dir')}"

    // Input GWAS summary statistics for exposure and outcome
    traits = ['trait1', 'trait2']
    path_gwas = "${workDir}/data/"

    // Genome file path
    path_LD = "${workDir}/reference_genome/1000g_ldscore_hg19/eas_ldscores/"
    path_hm3 = "${workDir}/reference_genome/w_hm3.snplist"
    path_bfile = "${workDir}/reference_genome/1000g_bfile_hg19/eas"
    
    // Output directory for results
    path_munge = "${workDir}/munge/"
    path_clump = "${workDir}/clump/"
    path_result = "${workDir}/result/"
}

// Set process executor (local, slurm, etc.)
process.executor = 'local'
