// Nextflow Configuration File
// File: nextflow.config

params {
    // Input GWAS summary statistics for exposure and outcome
    traits = ['trait1', 'trait2']
    path_gwas = "${System.getProperty('user.dir')}/data/"

    // genome file path
    path_LD = "${System.getProperty('user.dir')}/reference_genome/1000g_ldscore_hg19/eas_ldscores/"
    path_hm3 = "${System.getProperty('user.dir')}/reference_genome/w_hm3.snplist"
    path_bfile = "${System.getProperty('user.dir')}/reference_genome/1000g_bfile_hg19/eas"
    
    // Output directory for results
    path_munge = "${System.getProperty('user.dir')}/munge/"
    path_clump = "${System.getProperty('user.dir')}/clump/"
    path_result = "${System.getProperty('user.dir')}/result/"
}

// Set process executor (local, slurm, etc.)
process.executor = 'local'
